name: Trigger Rebuild

on:
  schedule:
  # 0:01 or 12:01
  - cron: "1 0 * * *"
  workflow_dispatch:

jobs:
  rebuild:
    name: Rebuild
    runs-on: ubuntu-latest
    steps:
    - name: DoRebuild
      run: curl -u owasp-vwad:${{secrets.VWAD_WF}} -X POST https://api.github.com/repos/owasp-vwad/owasp-vwad.github.io/pages/builds
